// body {
//     overflow-y: hidden;
// }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    .loader {
        border: 6px solid #f3f3f3;
        border-top: 6px solid black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        animation: spin 1.5s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
.overlay.hidden {
    opacity: 0;
}
.header {
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    
    span {
        cursor: pointer;
        padding: 0 5px;
        font-family: $font;
        color: black;
        transition: .3s all ease-in-out;
        @include selec;
        
        &:hover {
            text-shadow:  0px 0px 15px rgba(0, 0, 0, 0.673);
        }
        &:nth-of-type(3) {
            padding-right: 0;
        }
        &:nth-of-type() {
            pointer-events: none;
        }
    }
    .fran.isActive, .eng.isActive {
        background: $noir;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
    }
}
.home {
    // height: 200vh;
    display: flex;
    align-items: flex-start;
    // gap: 50px;
    background: $blanc;
    position: relative;
} 
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 50%;
    position: sticky;
    top: 0;
    
    .home__contact, .home__project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% /2);
        width: 100%;
        transition: .3s all ease-in-out;
        cursor: pointer;
        position: relative;
    }
    
    .home__project {
        transition: .3s all ease-in-out;
        cursor: pointer;
        position: relative;
        background: $noir;
        
        &:hover {
            background: $blanc;
        }
        &:hover h3{
            color: black;
        }
        &:hover .bar__first, &:hover .bar__second{
            background: black ;
        }      
        h3 {
            text-transform: uppercase;
            font-size: $ff-cate;
            font-weight: bold;
            margin: 0;
            color: $blanc;
            transition: .3s all ease-in-out;
            font-family: $font;
            font-weight: 900;
            @include selec;
        } 
        
    }
    .home__contact {
        
        .home__contact__wrapper, .home__github__wrapper {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            background: $noir;
            transition: .3s all ease-in-out;
            position: relative;
            
            h3 {
                text-transform: uppercase;
                font-size: $ff-cate;
                font-weight: bold;
                margin: 0;
                color: $blanc;
                transition: .3s all ease-in-out;
                font-family: $font;
                font-weight: 900;
                @include selec;
            }
            &:hover {
                background: $blanc;
            }
            &:hover h3{
                color: black;
            }
            &:hover .fa__style, &:hover .fa__style {
                color: black;
            }
            .fa__style {
                transition: .3s all ease-in-out;
                color: white;
                font-size: $ff-h1;
                padding: 1rem;
            }
            &:hover .bar__half__left, &:hover .bar__half__right, &:hover .barv__half__left, &:hover .barv__half__right {
                background: black ;
            }
        }
    }
    @include bar;
    .bar__half__left {
        bottom: 0;
        right: 0;
    }
    .bar__half__right {
        bottom: 0;
        left: 0;
    }
    .bar__second {
        top: 0;
    }
    
    .barv {
        width: 1px;
        height: 60%;
        background: $blanc;
        position: absolute;
        transition: all .3s ease-in-out;
    }
    .barv__half__right {
        left: 0;
    }
    .barv__half__left {
        right: 0;
    }
    
}
.right {
    position: relative;
    width: 50%;
    font-family: $font;
    overflow: hidden;
    
    .presentation {
        
        .presentation__txt {
            width: 90%;
            margin: 0 auto;
            height: auto;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .first__section__presentation__txt, .aboutme__presentation__txt {
                display: flex;
                flex-direction: column;
                justify-content: center;   
                height: 100vh;
                scroll-snap-align: start;
                
                p {
                    line-height: 35px;
                    text-align: justify;
                    @include selec;
                    font-size: 1.2rem;
                }
            }
            .first__section__presentation__txt {

                .role__photo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .role__photo__title {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        .role {
                            padding: 10% 0 7%;
                            font-weight: bold;
                            font-size: $ff-h3;
                            margin: 0;
                            @include selec;
                        }
                        h1 {
                            margin: 0;
                            font-size: $ff-h1;
                            text-transform: uppercase;
                            
                            span {
                                display: block;
                                @include selec;
                                
                                &:nth-of-type(3) {
                                    font-size: 20px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                    img {
                        display: block;
                        width: 45%;
                    }
                }
            }
            .aboutme__presentation__txt {
                // display: none;
                position: absolute;
                width: 90%;
                background: $blanc;
                transform: translateY(200vh);

                .aboutme__wrapper {
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: 1.0rem;
                        line-height: 30px;
                    }

                    .mobile__title {
                        padding: 3% 0;
                        align-self: flex-end;
                        @include selec;
                    }
                }
            }
            .btnToAbout_wrapper {
                align-self: flex-end;
                position: absolute;
                bottom: -25px;

            }
            .btnToAbout {
                position: relative;
                color: white;
                background: black;
                padding: 30px 50px 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 235px;
                cursor: pointer;
                border-radius: 32px 32px 0 0 ;
                z-index: 150;
                transition: .3s all ease-in-out;
                overflow: hidden;

            }
            .btnToAboutBorder {
                position: absolute;
                z-index: 10;
                width: calc(235px + 6px); 
                height: calc(200px + 4px); 
                top: -4px;
                left: -4px;
                transition: .3s all ease-in-out;
                // background: linear-gradient(
                //     60deg,
                //     hsl(224, 85%, 66%),
                //     hsl(269, 85%, 66%),
                //     hsl(314, 85%, 66%),
                //     hsl(359, 85%, 66%),
                //     hsl(44, 85%, 66%),
                //     hsl(89, 85%, 66%),
                //     hsl(134, 85%, 66%),
                //     hsl(179, 85%, 66%)
                //   );
                background: linear-gradient(
                    90deg,
                    white,
                    black,
                    white,
                );
                background-size: 300% 300%;
                background-position: 0 50%;
                border-radius: 32px 32px 0 0 ;
                animation: moveGradient 4s alternate infinite ease-in-out;
            }
            @keyframes moveGradient {
                50% {
                    background-position: 100% 0%;
                }
            }
            .toUpTxt {
                position: absolute;
                top: 0;
                padding: 25px 0;
                transform: translateY(100vh);
                font-size: 30px;
            }
            .btnToAbout_wrapper:hover .btnToAbout {
                color: black;
                background: $blanc;
                transform: translateY(-25px);
            }
            .btnToAbout_wrapper:hover .btnToAboutBorder {
                transform: translateY(-25px);
            }
            .toAboutTxt {
                font-weight: bold;
            }
            .btnToAbout:hover .toUpTxt .fa-arrow-down {
                color: black;
            }
        }
    }
}
.wave {
    display: none;
    height: 51vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    div {
        height: calc(100% / 5);
        background: #000;
    }
}
.wave__left {
    bottom: 0;
    left: -100%;
}
.wave__right {
    right: -100%;
    top: 0;
}
.v-engl {
    display: none;
}
.v-engl.isActive {
    display: block;
}
.v-fr.isActive {
    display: block;
}
.v-fr {
    display: none;
}
text {
    cursor: default;
  }

  text:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }

  #arrow {
    display: none;
  }

  text:hover #arrow {
    display: block;
  }
@media screen and (max-width : 530px) {
    .left {
        .home__contact {
            h3 {
                font-size: 1.5rem !important;
            }
        }
    }
    .first__section__presentation__txt {
        .role__photo {
            flex-direction: column;
        }
    }
}
@media screen and (max-width:1110px){
    .role__photo {
        flex-direction: column;

        img {
            margin: 0 auto;
        }
    }
    .role__photo__title {
        align-self: center;
        order: 2;
        padding-top: 25px;

        span {
            text-align: center;
        }
        .role {
            text-align: center;
        }
    }
    .aboutme__presentation__txt {
        position: relative !important;
        transform: translateY(0) !important;
        width: 100% !important;
    }
    .presentation__txt {
        gap: 50px;
    }
    .btnToAbout_wrapper {
        display: none !important;
    }

}
@media screen and (max-width:1000px) {
    body {
        overflow-y: visible;
    }
    .home {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .left {
        order: 2;
        height: 100vh;
        width: 100%;
    }
    .right {
        height: auto;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        
        .presentation, h1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .presentation__txt {
                justify-content: center;
                height: auto;
                padding: 7% 0;

                .backtotop, .aboutme {
                    display: none;
                }
                .first__section__presentation__txt, .aboutme__presentation__txt {
                    scroll-snap-align: none;
                    height: auto;
                    p {
                        padding: 0;
                    }
                }
            }
        }
    }
    .wave__left, .wave__right {
        height: 100%;
        
        div {
            height: calc(100% / 10);
        }
    }
    .wave__right {
        right: -100%;
        top: 50%;
    }
}