body {
    overflow-y: hidden;
}
.header {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    
    span {
        cursor: pointer;
        padding: 0 5px;
        font-family: $font;
        color: black;
        transition: .3s all ease-in-out;
        @include selec;
        
        &:hover {
            text-shadow:  0px 0px 15px rgba(0, 0, 0, 0.673);
        }
        &:nth-of-type(3) {
            padding-right: 0;
        }
        &:nth-of-type() {
            pointer-events: none;
        }
    }
    .fran.isActive, .eng.isActive {
        background: $noir;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
    }
}
.home {
    height: 200vh;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    background: $blanc;
    position: relative;
} 
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 50%;
    position: sticky;
    top: 0;
    
    .home__contact, .home__project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% /2);
        width: 100%;
        transition: .3s all ease-in-out;
        cursor: pointer;
        position: relative;
    }
    
    .home__project {
        transition: .3s all ease-in-out;
        cursor: pointer;
        position: relative;
        background: $noir;
        
        &:hover {
            background: $blanc;
        }
        &:hover h3{
            color: black;
        }
        &:hover .bar__first, &:hover .bar__second{
            background: black ;
        }      
        h3 {
            text-transform: uppercase;
            font-size: $ff-cate;
            font-weight: bold;
            margin: 0;
            color: $blanc;
            transition: .3s all ease-in-out;
            font-family: $font;
            font-weight: 900;
            @include selec;
        } 
        
    }
    .home__contact {
        
        .home__contact__wrapper, .home__github__wrapper {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            background: $noir;
            transition: .3s all ease-in-out;
            position: relative;
            
            h3 {
                text-transform: uppercase;
                font-size: $ff-cate;
                font-weight: bold;
                margin: 0;
                color: $blanc;
                transition: .3s all ease-in-out;
                font-family: $font;
                font-weight: 900;
                @include selec;
            }
            &:hover {
                background: $blanc;
            }
            &:hover h3{
                color: black;
            }
            &:hover .fa__style, &:hover .fa__style {
                color: black;
            }
            .fa__style {
                transition: .3s all ease-in-out;
                color: white;
                font-size: $ff-h1;
                padding: 1rem;
            }
            &:hover .bar__half__left, &:hover .bar__half__right, &:hover .barv__half__left, &:hover .barv__half__right {
                background: black ;
            }
        }
    }
    @include bar;
    .bar__half__left {
        bottom: 0;
        right: 0;
    }
    .bar__half__right {
        bottom: 0;
        left: 0;
    }
    .bar__second {
        top: 0;
    }
    
    .barv {
        width: 1px;
        height: 60%;
        background: $blanc;
        position: absolute;
        transition: all .3s ease-in-out;
    }
    .barv__half__right {
        left: 0;
    }
    .barv__half__left {
        right: 0;
    }
    
}
.right {
    position: relative;
    width: 50%;
    font-family: $font;
    display: flex;
    flex-direction: column;
    
    h1 {
        margin: 0;
        font-size: $ff-h1;
        text-transform: uppercase;
        
        span {
            display: block;
            @include selec;
            
            &:nth-of-type(3) {
                font-size: 20px;
                margin: 10px 0;
            }
        }
    }
    .role {
        font-weight: bold;
        font-size: $ff-h3;
        margin: 0;
        @include selec;
    }
    .presentation {
        
        .presentation__txt {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            
            
            p {
                line-height: 35px;
                text-align: justify;
                @include selec;
                font-size: 1.2rem;
            }

            .first__section__presentation__txt, .aboutme__presentation__txt {
                display: flex;
                flex-direction: column;
                justify-self: flex-start;     
            }
            .first__section__presentation__txt {
                
                .role {
                    padding: 10% 0 7%;
                    font-size: 1.35rem;
                }
                p {
                    padding-bottom: 7%;
                }
            }
            .aboutme__presentation__txt {
                position: fixed;
                top: 100vh;

                .aboutme__wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 90%;

                    .mobile__title {
                        padding-top: 7%;
                        align-self: flex-end;
                        @include selec;
                    }
                    p {
                        font-size: 1.2rem;
                    }

                }
            }
            .backtotop, .aboutme {
                width: 30%;
                min-width: 200px;    
                padding: 20px;
                background: #000;
                color: white;
                transition: .3s all ease-in-out;
                font-size: 1.2rem;
                cursor: pointer;
                border-radius: 5px;
                @include selec;

                
                &:hover {
                    background: $blanc;
                    color: black;
                }
            }
            .aboutme {
                align-self: flex-end;
            }
            .backtotop {
                align-self: flex-start;
            }
        }
    }
    .skills {
        
        h3 {
            margin: 0;
            font-size: $ff-h3;
            padding-bottom: 20px;
            @include selec;
        }
        .skills__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            
            span {
                width: 12%;
                min-width: 70px;
                max-width: 90px;
                height: 12%;
                min-height: 70px;
                max-height: 90px;
                padding: 15px;
                
                img {
                    width: 100%;
                    height: 100%;
                    user-select: none;
                }
                
                &:nth-of-type(1) {
                    margin-left: -15px;
                }
            }
        }
    }
}

.wave {
    display: none;
    height: 51vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    div {
        height: calc(100% / 5);
        background: #000;
    }
}
.wave__left {
    bottom: 0;
    left: -100%;
}
.wave__right {
    right: -100%;
    top: 0;
}

.cookie {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    font-family: $font;
    line-height: 23px;
    z-index: 100;
    
    p {
        @include selec;
    }
    .cookiebtn {
        padding: 10px;
        color: white;
        background: #000;
        border-radius: 5px;
        transition: .3s all ease-in-out;
        cursor: pointer;
        @include selec;
        
        &:hover {
            color: black;
            background: white;
        }
        
        &::first-letter {
            text-transform: uppercase;
        }
    }
}
.v-engl {
    display: none;
}
.v-engl.isActive {
    display: block;
}
.v-fr.isActive {
    display: block;
}
.v-fr {
    display: none;
}
@media screen and (max-width : 320px) {
    .cookie {
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (max-width : 510px) {
    .left {
        .home__contact {
            h3 {
                font-size: 1.5rem !important;
            }
        }
    }

    
}
@media screen and (max-width:1000px) {
    body {
        overflow-y: visible;
    }
    .home {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .left {
        order: 2;
        height: 100vh;
        width: 100%;
    }
    .right {
        height: auto;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        
        h1, .role  {
            align-self: flex-start;
        }
        .presentation, h1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .presentation__txt {
                justify-content: center;
                height: auto;
                padding: 7% 0;

                .backtotop, .aboutme {
                    display: none;
                }
                .first__section__presentation__txt {

                    p {
                        padding: 0;
                    }
                }
                .aboutme__presentation__txt {

                    .aboutme__wrapper {
                        width: 100%;
                    }
                    position: relative;
                    top: 0;
                }
            }
        }
        .skills {
            width: 100%;
            h3 {
                text-align: center;
                margin: 0 auto;
                font-size: $ff-h3;
                padding-bottom: 20px;
                
            }
            .skills__wrapper {
                justify-content: center;
                
                span {
                    
                    &:nth-of-type(1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .wave__left, .wave__right {
        height: 100%;
        
        div {
            height: calc(100% / 10);
        }
    }
    .wave__right {
        right: -100%;
        top: 50%;
    }
}