.project__btn__wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 50;
    max-height: 95px;

    span {
        width: calc(100% / 3);
        padding: 2rem 0;
        background: #000;
        font-size: $ff-h3;
        font-family: $font;
        font-weight: bold;
        text-align: center;
        color: white;
        cursor: pointer;
        transition: .3s all ease-in-out;
        z-index: 100;
        @include selec;
        
        i {
            font-size: 1.5em;
        }

        &:hover {
            background: white;
            color: #000;
        }
        &:nth-of-type(1),&:nth-of-type(2){
            border-right: 2px $blanc solid;
        }
    }
}
.project {
    display: none;
    // display: flex;
    height: 100vh;
    justify-items: center;
    align-items: center;
    // gap: 50px;
    background: $blanc;
    overflow-x: hidden;
}
.right__project {
    background: $noir;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    z-index: 50;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .project__screen , .project__tech {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        .project__screen__box {
            position: absolute;
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // top: 0;
            
            .f-carousel__slide {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 500px;
                    user-select: none;
                    border-radius: 10px;
                }
                .mobil_img {
                    width: auto !important;
                }
            }
            .f-button {
                display: none;
            }
            
            .mobile {
                width: 60%;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(18% , 13%);
            }
            .portfolio_right {
                color: white;
                font-family: $font;
            }
        }
        .portfolio .f-carousel__slide {
            flex-direction: column;
            gap: 20px ;
        }
        .out {
            transform: translateX(100vw);
        }
    }
    @include bar;
    .bar__first {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .bar__second {
        top: 0;
    }
}
.project__tech {
    height: 10% !important;
    align-self: flex-end;
    min-height: 95px;
    
    .tech__wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        
        .tech__wrapper__img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            gap: 2.5rem;
            
            img {
                width: 10%;
                min-width: 50px;
                user-select: none;
            }
        }
    }
    .out_tech {
        transform: translateX(-200vw);
    }
}
.project__txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project__txt__wrapper {
        height: 50vh;
        width: 45%;
        // padding: 0 30px;

        h3 {
            font-weight: bold;
            font-size: $ff-h3;
            font-family: $font;
            margin: 0;
            padding: 0;
            @include selec;
        }
        .projet__description {
            width: 100%;
            padding: 40px 0 40px;
            
            p {
                line-height: 25px;
                text-align: justify;
                font-family: $font;
                @include selec;
            }
            
        }
        .project__links {
            display: flex;
            justify-content: center;
            align-items: flex-start;   
            gap: 5%;
            
            a {
                font-size: 1.25rem;
                text-align: center;
                width: 100%;
                min-width: 125px;
                box-shadow: 0px 0px 5px rgba(0,0,0,.1);
                border-radius: 5px;
                padding: 10px 0;
                color: black;
                transition: .3s all ease-in-out;
                background: white;
                position: relative;
                
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
            .unavailable {
                background-color: black;
                color: white;
                @include selec;
            }
            .project_links_content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            .unavailable::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.603);
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                z-index: 150;
            }
            .unavailable_text {
                text-align: center;
                font-family: $font;
                @include selec;
            }
        }
    }
    .out {
        position: fixed;
        // width: 40%;
    }
    .training {
        transform: translateX(-200vw);
    }
    .dofus {
        transform: translateY(-200vh);
    }
    .pomander {
        transform: translateX(-200vw);
    }
    .mfm {
        transform: translateY(200vh);
    }
    .keylegal {
        transform: translateX(200vw);
    }
    .news {
        transform: translateY(-200vh);
    }
    .todo {
        transform: translateX(-200vw);
    }
    .convertor {
        transform: translateY(200vh);
    }
    .food52 {
        transform: translateX(200vw);
    }
    .portfolio {
        transform: translateY(200vh);
    }
}
.next_prev_btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    // position: absolute;
    // bottom: 10%;
}
.next_prev_btn {
    border: 1px solid black;
    padding: 10px 15px;
    background: $blanc;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-family: $font;
    transition: .5s all cubic-bezier(0.23, 1, 0.320, 1);

    span {
        font-size: 24px;
        transition: .5s all cubic-bezier(0.23, 1, 0.320, 1);
    }
    i {
        color: $noir;
        position: absolute;
        transition: .5s all cubic-bezier(0.23, 1, 0.320, 1);
        font-size: 30px;
    }
    &:hover {
        background: $noir;
        border-color: $blanc;
    }
    &:hover i {
        transform: translateX(0);
        color: $blanc;
    }
    &:hover span {
        transform: translateX(-100px);
    }
}
.prev_btn i {
    transform: translateX(70px);
}
.next_btn:hover span {
    transform: translateX(100px);
}
.next_btn i {
    transform: translateX(-70px);
}
.next_prev_btn.isActive {
    background: #6a6868;
    color: #d6d0d0;
    pointer-events: none;

    &:hover {
        border-color: #6a6868;
    }
}
@media screen and (max-width : 1400px) {
    .project {
        
        .project__txt {

            .project__txt__wrapper.afop {
                height: 70vh;
            }
        }
    }
}
@media screen and (max-width : 990px) {
    .project {
        
        .project__txt {

            .project__txt__wrapper.afop {
                height: 85vh;

                .projet__description {
                    padding: 20px 0;
                }
            }
        }
    }
}
@media screen and (max-width : 900px) {
    .project {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0;
    }
    .project__txt {
        margin: 0;
        min-height: 95vh;
        
        .project__txt__wrapper {
            width: 90%;

            h3 {
                padding: 0 ;
            }
        }
        .project__txt__wrapper.afop {
            height: 50vh !important;
        }
        .centered {
            position: sticky;
            top: -50%;
        }
    }
    .right__project {
        // height: 100%;
        max-height: 80vh;
        box-shadow: 0px 0px 15px rgba(0,0,0,.8);

        .project__screen {
            order: 3;

            .project__screen__box {
                
                .f-carousel__slide  {
                    padding: 20px 0 0;
                    .mobil_img {
                        max-height: 400px !important;
                    }
                }
            }
            .portfolio .f-carousel__slide {
                flex-direction: row;
                gap: 20px ;

                p {
                    width: 50%;
                }
                img {
                    width: 50%;
                }
            }
        }    
    }
    .project__tech {
        order: 3;
        
        .tech__wrapper {
            
            .tech__wrapper__img {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
            }
        }
    }
    .project__btn__wrapper {
        width: 100%;
        top: 0;
        bottom: 100%;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .next_prev_btn_wrapper {
        order: 1;
        padding-top: 20px;
    }
    
}
@media screen and (max-width : 500px) {
    .unavailable::after {
        font-size: 12px !important;
    }
    .tech__wrapper__img {

        img {
            min-width: 35px !important;
        }
    }
}
@media screen and (max-width : 485px) {
    .project {
        
        .project__txt {

            .project__txt__wrapper.afop {
                height: 70vh !important;

                .projet__description {
                    padding: 5px 0;
                }
            }
        }
    }
}
@media screen and (max-width : 375px) {
    .project {
        
        .project__txt {

            .project__txt__wrapper.afop {
                height: 75vh !important;

                .projet__description {
                    padding: 5px 0;
                }
                .unavailable_text {
                    display: none;
                }
            }
        }
    }
}