.project__btn__wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 50;

    span {
        width: calc(100% / 3);
        padding: 2rem 0;
        background: #000;
        font-size: $ff-h3;
        font-family: $font;
        font-weight: bold;
        text-align: center;
        color: white;
        cursor: pointer;
        transition: .3s all ease-in-out;
        z-index: 100;
        @include selec;
        
        i {
            font-size: 1.5em;
        }

        &:hover {
            background: white;
            color: #000;
        }
        &:nth-of-type(1),&:nth-of-type(2){
            border-right: 2px $blanc solid;
        }
    }
}
.project {
    display: none;
    // display: flex;
    height: 100vh;
    justify-items: center;
    align-items: center;
    // gap: 50px;
    background: $blanc;
    overflow-x: hidden;
}
.right__project {
    background: #000000;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    z-index: 50;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .project__screen , .project__tech {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        .project__screen__box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            
            img {
                width: 98%;
                user-select: none;
            }
            .mobile {
                width: 60%;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(18% , 13%);
            }
        }
        .out {
            transform: translateX(100vw);
        }
    }
    @include bar;
    .bar__first {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .bar__second {
        top: 0;
    }
}
.project__tech {
    height: 10% !important;
    align-self: flex-end;
    
    .tech__wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        
        .tech__wrapper__img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            gap: 2.5rem;
            
            img {
                width: 10%;
                min-width: 50px;
                user-select: none;
            }
        }
    }
    .out_tech {
        transform: translateX(-200vw);
    }
}
.project__txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project__txt__wrapper {
        height: 50vh;
        h3 {
            font-weight: bold;
            font-size: $ff-h3;
            font-family: $font;
            margin: 0;
            padding: 50px 0;
            @include selec;
        }
        .projet__description {
            width: 100%;
            padding: 20px 0 50px;
            
            p {
                line-height: 25px;
                text-align: justify;
                font-family: $font;
                @include selec;
            }
            
        }
        .project__links {
            display: flex;
            justify-content: center;
            gap: 5%;
            
            a {
                font-size: 1.25rem;
                text-align: center;
                width: 50%;
                min-width: 125px;
                box-shadow: 0px 0px 5px rgba(0,0,0,.1);
                border-radius: 5px;
                padding: 10px 0;
                color: black;
                transition: .3s all ease-in-out;
                background: white;
                position: relative;
                
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
            .unavailable {
                background-color: black;
                color: white;
            }
            .unavailable::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.603);
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                z-index: 150;
            }
            .unavailable::after {
                content: "Le lien est indisponible pour le moment.";
                width: 100%;
                position: absolute;
                bottom: -100%;
                left: 0;
                border-radius: 5px;
                z-index: 150;
                color: black;
                font-family: $font;
                font-size: 14px;
            }
            .unavailable.v-engl::after {
                content: "Link unavailable at the moment.";
            }
            .unavailable.unavailable_git::after {
                content: "Le lien vers le code n'est pas disponible en raison de confidentialité.";
                bottom: -140%;
            }
            .unavailable.unavailable_git.v-engl::after {
                content: "The link to the code is not available due to confidentiality reasons.";
            }

        }
    }
    .out {
        position: fixed;
        width: 40%;
    }
    .pomander {
        transform: translateY(-200vh);
    }
    .mfm {
        transform: translateX(200vw);
    }
    .keylegal {
        transform: translateY(-200vh);
    }
    .news {
        transform: translateX(-200vw);
    }
    .todo {
        transform: translateY(-200vh);
    }
    .convertor {
        transform: translateX(200vw);
    }
    .food52 {
        transform: translateY(200vh);
    }
}
.fa-angle-left, .fa-angle-right {
    color: white;
    font-size: 50px;
    padding: 50px 20px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    z-index: 100;
    position: absolute;
    text-shadow: 0 0 15px black;
    
    &:hover {
        text-shadow: 0 0 15px $blanc;
    }
}
.fa-angle-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fa-angle-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fa-angle-left.isActive, .fa-angle-right.isActive {
    color: #6a6868;
    font-size: 50px;
    padding: 8px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    z-index: 100;
    
    &:hover {
        text-shadow: 0 0 10px #acaaaa;
    }
}
@media screen and (max-width : 900px) {
    .project {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0;
    }
    .project__txt {
        width: 80%;
        margin: 0;
        height: 90vh;
        
        .project__txt__wrapper {
            width: 80%;

            h3 {
                padding: 50px 0 20px;
            }
        }
        .centered {
            position: sticky;
            top: -50%;
        }
    }
    .right__project {
        height: 80vh;
        box-shadow: 0px 0px 15px rgba(0,0,0,.8);

        .project__screen {

            .project__screen__box {

                img {
                    width: 80%;
                }
            }
        }    
    }
    .project__tech {
        
        .tech__wrapper {
            
            .tech__wrapper__img {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
            }
        }
    }
    .project__btn__wrapper {
        width: 100%;
        top: 0;
        bottom: 100%;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
@media screen and (max-width : 500px) {
    
    .right__project {
        height: 70vh;
    }
    .unavailable::after {
        font-size: 12px !important;
    }
}